.bord{
    display: flex;
    gap: 1rem;
    margin: 1rem 3rem;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
   
  
    min-height: 100vh;
}

.columnStyle{
    background-color: #F5F5F7;
    padding: 1rem;
}